body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


.menu__main {
    padding: 0 20%;

    @media (max-width: 768px) {
        padding: 0;
        margin: 15px;
    }
}

h1 {
    margin: 20px auto;
    text-align: start;
}



.menu_part-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .coffee-part {
        width: 45%;

        @media (max-width: 768px) {
            width: 90%;
        }
    }

    .menu_price {
        display: flex;
        justify-content: space-between;
    }

}

.menu_hidden {
    display: block;
    width: 100%;


    @media (max-width: 768px) {
        display: none;
    }
}

.menu__image {
    width: 100%;
    position: relative;
    bottom: -30px;

}