.coffee {
  background-color: pink;
  padding: 0 10vw;

  &__intro {
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 20px;
    }
    &__description {
      font-size: 16px;
    }
    &__grams {
      font-size: 10px;
    }
  }

  &__product {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    width: 48%;

    h4 {
      margin-left: 1vw;
    }

    &__bags__text {
      margin-left: 1vw;
      display: flex;
      flex-direction: column;
    }
  }
}
