@import 'index-style.scss';
@import "header_and_footer.scss";

$color-header: rgb(248, 248, 250);
$color-footer: darkblue;


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}


.index_about-cafe {
    background-color: pink;
}